# Here's the list of default ignores for `vsce package`
# https://github.com/microsoft/vscode-vsce/blob/main/src/package.ts#L1421
.ganache-*/**
.husky/**
.github/**
.vscode/**
dist/main.js.map
dist/web.js.map
node_modules
images/*.gif
out/**
src/**
test/**
.gitignore
.mocharc.js
.prettierignore
sample.ethers
tsconfig.json


# Need this when the repo is being clone as a submodule
# https://github.com/microsoft/vscode-vsce/issues/509
.git
